<!DOCTYPE html>

<html>

<head>
    <link rel = "stylesheet" href="/static/cs.css">
    <meta charset="utf-8">
    <title> bitches </title>
</head>
<body>
  <header id="home" >
    <div class="container">
   <div class="logo">
    <img src="/static/ChatGPT Image May 10, 2026, 10_47_08 PM.png" height="300" width="600">
    <h1 class="logo-text">
    <span class="bitch">Bitch</span>
    </h1>
    <h1>
     <span class="hub">Hub</span>
      </h1>
     </div>
     <div>
    <nav class="nav">
      <ol>
        <li> <a href="#home"> home </a> </li>
        <li> <a href="#ms"> ms </a> </li>
        <li> <a href="#mi"> mi </a> </li>
        <li> <a href="#m"> m </a> </li>
       <li> <a href="#mazen"> mazen </a> </li>
       <li><a href="#jebril">jebril</a> </li>
      </ol>
    </nav>
    </div>
</div>
  </header>
  <!-------header end------->
  <!-----ms start---->
  <hr>
  <main>
    <section id ="ms">
        <div class ="center">
            <div class="look_better">
        <h1> Mustafa sami </h1>
        <br>
        <img src="/static/WhatsApp Image 2026-05-09 at 12.06.25 PM.jpeg" height="500" width="300">
        <br>
        <p><h2> This is my highest rated bitch</h2></p>
        </div>
         <div class = "bitch-booking-form">
            <form>
           <input type ="text" placeholder="enter your name">
           <br>
           <input type ="date" placeholder="when to book" >
           <br>
           <input type="number" placeholder="enter your num" >
           <br>
           <input type="email" placeholder="enter your email"> 
           <br>
           <input type="hidden" name="bitch" value="mustafa sami">
           <input type="submit" value="Book Now">
            </form>
         </div>
         </div>
         
    </section>
    
<!------ms end------>
<hr>
<section id ="mi">
      <div class ="center">
            <div class="look_better">
        <h1> Mustafa ibrahim </h1>
        <br>
        <img src="/static/687791983_994929126427239_3865891069272980860_n.jpg" height="500" width="300">
        <br>
        <p><h2> This is my second highest rated bitch</h2></p>
            </div>
         <div class = "bitch-booking-form">
            <form>
           <input type ="text" placeholder="enter your name">
           <br>
           <input type ="date" placeholder="when to book" >
           <br>
           <input type="number" placeholder="enter your num" >
           <br>
           <input type="email" placeholder="enter your email"> 
           <br>
           <input type="hidden" name="bitch" value="Mustafa ibrahim">
           <input type="submit" value="Book Now">
            </form>
         </div>
      </div>
        
</section>
<!-----mi end----->
<hr>
<section id ="mazen">
      <div class ="center">
            <div class="look_better">
        <h1> mazen </h1>
        <br>
        <img src="/static/690865706_839487802530629_7609185187543368953_n.jpg" height="500" width="300">
        <br>
        <p><h2> This is my third highest rated bitch</h2></p>
          </div>
         <div class = "bitch-booking-form">
            <form>
           <input type ="text" placeholder="enter your name">
           <br>
           <input type ="date" placeholder="when to book" >
           <br>
           <input type="number" placeholder="enter your num" >
           <br>
           <input type="email" placeholder="enter your email">
           <br>
           <input type="hidden" name="bitch" value="mazen">
           <input type="submit" value="Book Now"> 
            </form>
         </div>
      </div>
</section>
<!----m end---->
<hr>
<section id ="m">
   <div class ="center">
            <div class="look_better">
        <h1> Muzamil </h1>
        <br>
        <img src="/static/687787963_1972613070796299_1639975682269423757_n.jpg" height="500" width="300">
        <br>
        <p><h2> This is the worst rated bitch i have</h2></p>
            </div>
         <div class = "bitch-booking-form">
            <form>
           <input type ="text" placeholder="enter your name">
           <br>
           <input type ="date" placeholder="when to book" >
           <br>
           <input type="number" placeholder="enter your num" >
           <br>
           <input type="email" placeholder="enter your email"> 
           <br>
           <input type="hidden" name="bitch" value="muzamil">
           <input type="submit" value="Book Now">
            </form>
         </div>
         </div>        
</section>
<!---jebril start here--->
<section id ="jebril">
    <div class ="center">
     <div class="look_better">
       <h1> jebril </h1>
        <br>
        <img src="static/IMG_20260408_113941.jpg" height="500" width="300">
        <br>
        <p><h2> This is a honourary mention</h2></p>
            </div>
         <div class = "bitch-booking-form">
            <form>
           <input type ="text" placeholder="enter your name">
           <br>
           <input type ="date" placeholder="when to book" >
           <br>
           <input type="number" placeholder="enter your num" >
           <br>
           <input type="email" placeholder="enter your email"> 
           <br>
           <input type="hidden" name="bitch" value="jebril">
           <input type="submit" value="Book Now">
            </form>
     </div>
    </div>
</section>
</main>
<script src="/static/js.js"></script>
</body>
</html>